/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;
}

:root{
  --main-color: #f03829;
  --gray-color: #979797;
  --dark-gray-color: #121212;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

/* MENU */
header nav {
  position: fixed;
  background-color: white;
  width: 100%;
  z-index: 1;
  top: 0;
  border-top: 1px solid var(--gray-color);
  border-bottom: 1px solid var(--gray-color);
}

nav ul {
  display: flex;
  align-items: center;
  padding: 0;
  margin: .8em;
}

nav ul li {
  list-style: none;
  padding: 0px 20px 0px 20px;
}

nav ul li img {
  width: 20px;
}

nav ul li:nth-child(2) {
  margin-right: auto;
}

nav ul li:nth-child(2) img {
  width: 80px;
  margin-right: auto;
}

header section {
  position: absolute;
  background-color: white;
  width: 95%;
  font-weight: 700;
  text-transform: uppercase;
  transition: .5s;
  transform: translateX(-100%);
  top: 3.9em;
}

header section.aan {
  transform: translateX(0);
}

header section h3 {
  text-align: center;
  border-top: 1px solid var(--gray-color);
  border-bottom: 1px solid var(--gray-color);
  margin: 0;
  padding: 1em;
}

header section ul {
  list-style: none;
  margin: 0;
}

header section ul li {
  padding: 1.5em;
  border-bottom: 1px solid var(--gray-color);
}

header section ul li a {
  text-decoration: none;
  color: black;
}

header section ul li span{
  text-align: right;
}

/* BANNER */
.page-one main > section:nth-of-type(1) {
  background-color: black;
  text-align: center;
  color: white;
  text-transform: uppercase;
  width: 100%;
  padding-bottom: 4em;
}

.page-one main section:nth-of-type(1) img{
  width: 100%;
}

.page-one main section:nth-of-type(1) img:first-of-type {
  width: 100%;
}

.page-one main section:nth-of-type(1) h2 {
  font-size: 2em;
  letter-spacing: 1.5px;
  font-weight: 700;
}

.page-one main section:nth-of-type(1) h3 {
  letter-spacing: 2px;
  font-weight: 300;
  padding-top: 30px;
}

.page-one main section:nth-of-type(1) > a:nth-of-type(1) {
  background-color: var(--main-color);
  text-decoration: none;
  font-weight: 700;
  color: white;

  padding: 10px 20px 10px 20px;
  border-radius: 4px;
}

.page-one main section:nth-of-type(1) > a:nth-of-type(2) {
  text-decoration: none;
  font-weight: 700;
  color: white;

  padding: 10px 30px 10px 30px;
  border-radius: 4px;
}

/* EERSTE BLOK */
.page-one main section:nth-child(2) {
  display: flex;
  flex-direction: column;
}

.page-one main section:nth-child(2) article {
  padding-bottom: 1.5em;
}

.page-one main >section:nth-child(2) article:nth-of-type(1) {
  background-color: var(--main-color);
  text-align: center;
  color: white;
  text-transform: uppercase;
  margin: 10px;
}

.page-one main section:nth-child(2) article:nth-of-type(1) img {
  width: 100%;
  margin-bottom: 0px;
}

.page-one main section:nth-child(2) article:nth-of-type(1) h2 {
  margin-top: 10px;
}

.page-one main section:nth-child(2) article:nth-of-type(1) a {
  color: white;
  text-decoration: none;
  margin-bottom: 10px;
}

.page-one main section:nth-child(2) article:nth-of-type(1):hover {
  background-color: black;
  transition: .3s;
}

/* TWEEDE ARTICLE */
.page-one main section:nth-child(2) article:nth-of-type(2) {
  background-color: var(--main-color);
  text-align: center;
  color: white;
  text-transform: uppercase;
  margin: 10px;
}

.page-one main section:nth-child(2) article:nth-of-type(2) img {
  width: 100%;
  margin-bottom: 0px;
}

.page-one main section:nth-child(2) article:nth-of-type(2) h2 {
  margin-top: 10px;
}

.page-one main section:nth-child(2) article:nth-of-type(2) a {
  color: white;
  text-decoration: none;
  margin-bottom: 10px;
}

.page-one main section:nth-child(2) article:nth-of-type(2):hover {
  background-color: black;
  transition: .3s;
}

/* DERDE BLOK */
.page-one main section:nth-of-type(3) h2 {
  text-transform: uppercase;
  padding: 20px;
}

main section:nth-of-type(3) {
  margin: 10px;
}

main section:nth-of-type(3) ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  
  padding: 0;
  list-style: none;
}

main section:nth-of-type(3) ul li {
  padding: 20px;
  width: 150px;
}

main section:nth-of-type(3) ul li article h3{
  font-size: 1em;
}

main section:nth-of-type(3) ul li article p {
  font-weight: 700;
}

main section:nth-of-type(3) ul li article p:first-of-type {
  background-color: var(--main-color);
  text-align: center;
  color: white;
  width: 50px;
  margin: auto;
  z-index: 1;
}

/* VIERDE BLOK */
.page-one main section:nth-of-type(4) {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.page-one main section:nth-of-type(4) article{
  position: relative;
  margin-bottom: 100px;
}

.page-one main section:nth-of-type(4) h2{
  width: 100%;
  background-color: var(--main-color);
  text-align: center;
  color: white;
  font-size: 3em;
  text-transform: uppercase;
  padding: 20px 0px 20px 0px;
  margin: 0;
}

.page-one main section:nth-of-type(4) article img {
  width: 100%;
  margin-bottom: 0px;
}

.page-one main section:nth-of-type(4) article div {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
  bottom: -40px;
  padding: 10px;
}

.page-one main section:nth-of-type(4) article div h3 {
  font-size: 1.5em;
  background-color: white;
  text-transform: uppercase;
  order: 2;
  margin: 0;
  order: 2;
}

.page-one main section:nth-of-type(4) article div h4 {
  order: 1;
  color: var(--main-color);
  text-transform: uppercase;
  font-size: .75em;
  order: 1;
}

/* VIJFDE BLOK */
.page-one main section:nth-of-type(5) {
  margin: 10px;
}

.page-one main section:nth-of-type(5) h2 {
  text-transform: uppercase;
  padding: 20px;
  position: relative;
}

.page-one main section:nth-of-type(5) h2::before {
  content: '';
  position: absolute;
  height: 3px;
  width: 2.5em;
  top: .25em;
  background: red;
}

.page-one main section:nth-of-type(5) ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  
  padding: 0;
  list-style: none;
}

.page-one main section:nth-of-type(5) ul li {
  padding: 20px;
  width: 150px;
}

.page-one main section:nth-of-type(5) ul li article div{
  background-color: var(--main-color);
  text-align: center;
  color: white;
  width: 50px;
  margin: auto;
  z-index: 1;
}

.page-one main section:nth-of-type(5) ul li article h3{
  font-size: 1em;
}

.page-one main section:nth-of-type(5) ul li article p {
  font-weight: 700;
}

.page-one main section:nth-of-type(5) ul li article p:first-of-type {
  background-color: var(--main-color);
  text-align: center;
  color: white;
  width: 50px;
  margin: auto;
  z-index: 1;
}

.page-one main section:nth-of-type(5) ul li article p:nth-of-type(3){
  font-size: .8em;
}

/* FOOTER */
footer {
  background-color: var(--dark-gray-color);
  color: white;
  padding: 30px;
}

footer img {
  width: 150px;
}

footer section:nth-of-type(1) h3{
  font-size: 2em;
}

footer section:nth-of-type(1) p{
  color: var(--gray-color);
  font-size: 1.2em;
}

footer section:nth-of-type(1) form {
  padding: 20px;
  border: 1px solid var(--gray-color);
}

footer section:nth-of-type(1) form input {
  background: var(--dark-gray-color);
  caret-color: white;
  box-shadow: none;
  border: 0;
  color: var(--gray-color);
  outline-width: 0;
  flex-grow: 1;
}

footer section:nth-of-type(1) form input::placeholder {
  color: var(--gray-color);
}

footer section:nth-of-type(1) form input:nth-child(2) {
  background-color: var(--main-color);
  color: white;
  padding: 10px;
  text-transform: uppercase;
}

footer section:nth-of-type(2) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  margin-bottom: 5em;
}

footer section:nth-of-type(2) ul {
  width: 50%;
  padding: 0;
}

footer section:nth-of-type(2) ul li{
  list-style: none;
  color: var(--gray-color);
}

footer section:nth-of-type(2) ul li h4 {
  color: white;
  border-top: 1px solid var(--gray-color);
  width: 50%;
  padding-top: 1em;
}

footer section:nth-of-type(3) {
  text-align: center;
}

footer section:nth-of-type(3) a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  border: solid 2px white;
  padding: 10px;
  border-radius: 20px;
}

footer section:nth-of-type(3) img {
  width: 20px;
}

footer section:nth-of-type(3) ul {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0;
  margin-top: 2em;
  margin-bottom: 2.5em;
}

footer section:nth-of-type(3) ul li {
  padding: .5em;
}

footer section:nth-of-type(3) ul li img {
  width: 1.52em;
}

footer section:nth-of-type(4) ul {
  padding: 0;
  border-top: 1px solid var(--gray-color);
}

footer section:nth-of-type(4) ul li {
  list-style: none;
  color: var(--gray-color);
  text-align: center;
  padding: 1.3em;
  font-size: .8em;
}

footer section:nth-of-type(4) ul li:first-child {
  margin-top: 1em;
}

footer small {
  font-size: .7em;
  color: var(--gray-color);
  text-align: center;
}

/*********************************/
/*            PAGINA 2           */
/*********************************/

.page-two main {
  margin: 1em;
}

.page-two section:first-of-type h1 {
  font-size: 1.5em;
  text-transform: uppercase;
  margin-top: 3.5em;
  margin-bottom: 0;
}

.page-two section:first-of-type p {
  margin-top: .2em;
}

.page-two main section:nth-of-type(1) ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid var(--gray-color);
  padding: 0;
  margin-bottom: 0;
}

.page-two main section:first-of-type ul li {
  padding: 1em;
  list-style: none;
  text-transform: uppercase;
  font-weight: 700;
}

.page-two main section:first-of-type ul li span {
  color: var(--gray-color)
}

.page-two main section:first-of-type img {
  width: 100%;
}

/* PRODUCT VIEW */
@media only screen and (min-width: 500px) {
  .page-one main > section:nth-child(2) {
    flex-direction: row;
  }

  .page-one main section:nth-of-type(4) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .page-one main section:nth-of-type(4) article {
    width: 50%;
    padding: 10px;
  }
}