/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;
}

:root{
  --main-color: #f03829;
  --gray-color: #979797;
  --dark-gray-color: #121212;
  --black: black;
  --white: white;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

/* MENU */
header nav {
  position: fixed;
  background-color: var(--white);
  width: 100%;
  z-index: 1;
  top: 0;
  border-top: 1px solid var(--gray-color);
  border-bottom: 1px solid var(--gray-color);
}

nav ul {
  display: flex;
  align-items: center;
  padding: 0;
  margin: .8em;
}

nav ul li {
  list-style: none;
  padding: 0 1.25em 0 1.25em;
}

nav ul li img {
  width: 1.25em;
}

nav ul li:nth-child(2) {
  flex: 1;
}

nav ul li:nth-child(2) img {
  width: 5em;
  margin-right: auto;
}

nav ul li a {
  text-decoration: none;
  color: var(--gray-color);
  text-transform: uppercase;
  font-size: .8em;
  font-weight: 700;
}

nav > ul:first-of-type li ul {
  display: none;
}

header section {
  position: fixed;
  background-color: var(--white);
  width: 95%;
  font-weight: 700;
  text-transform: uppercase;
  transition: .5s;
  transform: translateX(-100%);
  top: 3.9em;
}

header section.aan {
  transform: translateX(0);
}

header section h3 {
  text-align: center;
  border-top: 1px solid var(--gray-color);
  border-bottom: 1px solid var(--gray-color);
  margin: 0;
  padding: 1em;
}

header section ul {
  list-style: none;
  margin: 0;
}

header section ul li {
  padding: 1.5em;
  border-bottom: 1px solid var(--gray-color);
}

header section ul li a {
  text-decoration: none;
  color: black;
}

header section ul li span{
  text-align: right;
}

/* BANNER */
.page-one main > section:nth-of-type(1) {
  background-color: black;
  text-align: center;
  color: var(--white);
  text-transform: uppercase;
  width: 100%;
  padding-bottom: 4em;
}

.page-one main section:nth-of-type(1) img{
  width: 100%;
}

.page-one main section:nth-of-type(1) img:first-of-type {
  width: 100%;
}

.page-one main section:nth-of-type(1) h2 {
  font-size: 2em;
  letter-spacing: .1em;
  font-weight: 700;
}

.page-one main section:nth-of-type(1) h3 {
  letter-spacing: 0.125em;
  font-weight: 300;
  padding-top: 1.8em;
}

.page-one main section:nth-of-type(1) > a:nth-of-type(1) {
  background-color: var(--main-color);
  text-decoration: none;
  font-weight: 700;
  color: var(--white);

  padding: 0.6em 1.25em 0.6em 1.25em;
  border-radius: 0.25em;
}

.page-one main section:nth-of-type(1) > a:nth-of-type(2) {
  text-decoration: none;
  font-weight: 700;
  color: var(--white);

  padding: 0.625em 1.8em 0.625em 1.8em;
  border-radius: 0.25em;
}

/* EERSTE BLOK */
.page-one main section:nth-child(2) {
  display: flex;
  flex-direction: column;
}

.page-one main section:nth-child(2) article {
  padding-bottom: 1.5em;
}

.page-one main >section:nth-child(2) article:nth-of-type(1) {
  background-color: var(--main-color);
  text-align: center;
  color: var(--white);
  text-transform: uppercase;
  margin: 0.6em;
}

.page-one main section:nth-child(2) article:nth-of-type(1) img {
  width: 100%;
  margin-bottom: 0;
}

.page-one main section:nth-child(2) article:nth-of-type(1) h2 {
  margin-top: 0.6em;
}

.page-one main section:nth-child(2) article:nth-of-type(1) a {
  color: var(--white);
  text-decoration: none;
  margin-bottom: 0.6em;
}

.page-one main section:nth-child(2) > article:nth-of-type(1):hover {
  background-color: black;
  transition: .3s;
}

/* TWEEDE ARTICLE */
.page-one main section:nth-child(2) article:nth-of-type(2) {
  background-color: var(--main-color);
  text-align: center;
  color: var(--white);
  text-transform: uppercase;
  margin: 0.6em;
}

.page-one main section:nth-child(2) article:nth-of-type(2) img {
  width: 100%;
  margin-bottom: 0;
}

.page-one main section:nth-child(2) article:nth-of-type(2) h2 {
  margin-top: 0.6em;
}

.page-one main section:nth-child(2) article:nth-of-type(2) a {
  color: var(--white);
  text-decoration: none;
  margin-bottom: 0.6em;
}

.page-one main section:nth-child(2) article:nth-of-type(2):hover {
  background-color: black;
  transition: .3s;
}

/* DERDE BLOK */
main section:nth-of-type(3) {
  margin: 0.6em;
}

.page-one main section:nth-of-type(3) h2 {
  text-transform: uppercase;
  padding: 1.25em;
  position: relative;
}

.page-one main section:nth-of-type(3) h2::before {
  content: '';
  position: absolute;
  height: 0.2em;
  width: 2.5em;
  top: 0.25em;
  background: var(--main-color);

}

.page-one main section:nth-of-type(3) ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  
  padding: 0;
  list-style: none;
}

main section:nth-of-type(3) ul li {
  padding: 1.25em;
  width: 9.5em;
}

main section:nth-of-type(3) ul li a {
  text-decoration: none;
  color: var(--black);
}

main section:nth-of-type(3) ul li article h3{
  font-size: 1em;
}

main section:nth-of-type(3) ul li article p {
  font-weight: 700;
}

main section:nth-of-type(3) ul li article p:first-of-type {
  background-color: var(--main-color);
  text-align: center;
  color: var(--white);
  width: 3em;
  margin: auto;
  z-index: 1;
}

/* VIERDE BLOK */
.page-one main section:nth-of-type(4) {
  display: flex;
  flex-direction: column;
  margin: 0.6em;
}

.page-one main section:nth-of-type(4) article{
  position: relative;
  margin-bottom: 6em;
}

.page-one main section:nth-of-type(4) a article{
  text-decoration: none;
  color: var(--black);
}

.page-one main section:nth-of-type(4) h2{
  width: 100%;
  background-color: var(--main-color);
  text-align: center;
  color: var(--white);
  font-size: 3em;
  text-transform: uppercase;
  padding: 0.5em 0 0.5em 0;
  margin: 0;
}

.page-one main section:nth-of-type(4) article img {
  width: 100%;
  margin-bottom: 0;
}

.page-one main section:nth-of-type(4) article div {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: var(--white);
  bottom: -2.5em;
  padding: 0.6em;
}

.page-one main section:nth-of-type(4) article div a {
  text-decoration: none;
  color: var(--black);
}

.page-one main section:nth-of-type(4) article div a h3 {
  font-size: 1.5em;
  background-color: var(--white);
  text-transform: uppercase;
  order: 2;
  margin: 0;
  order: 2;
}

.page-one main section:nth-of-type(4) article div h4 {
  order: 1;
  color: var(--main-color);
  text-transform: uppercase;
  font-size: .75em;
  order: 1;
}

/* VIJFDE BLOK */
.page-one main section:nth-of-type(5) {
  margin: 0.6em;
}

.page-one main section:nth-of-type(5) h2 {
  text-transform: uppercase;
  padding: 1.25em;
  position: relative;
}

.page-one main section:nth-of-type(5) h2::before {
  content: '';
  position: absolute;
  height: .2em;
  width: 2.5em;
  top: .25em;
  background: var(--main-color);
}

.page-one main section:nth-of-type(5) ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  
  padding: 0;
  list-style: none;
}

.page-one main section:nth-of-type(5) ul li {
  padding: 1.25em;
  width: 9em;
}

.page-one main section:nth-of-type(5) ul li a {
  text-decoration: none;
  color: var(--black);
}

.page-one main section:nth-of-type(5) ul li article div{
  background-color: var(--main-color);
  text-align: center;
  color: var(--white);
  width: 3em;
  margin: auto;
  z-index: 1;
}

.page-one main section:nth-of-type(5) ul li article h3{
  font-size: 1em;
}

.page-one main section:nth-of-type(5) ul li article p {
  font-weight: 700;
}

.page-one main section:nth-of-type(5) ul li article p:first-of-type {
  background-color: var(--main-color);
  text-align: center;
  color: var(--white);
  width: 3em;
  margin: auto;
  z-index: 1;
}

/* FOOTER */
footer {
  background-color: var(--dark-gray-color);
  color: var(--white);
  padding: 2em;
}

footer img {
  width: 9em;
}

footer section:nth-of-type(1) h3{
  font-size: 2em;
}

footer section:nth-of-type(1) p{
  color: var(--gray-color);
  font-size: 1.2em;
}

footer section:nth-of-type(1) form {
  display: flex;
  padding: 1.25em;
  border: 1px solid var(--gray-color);
}

footer section:nth-of-type(1) form input {
  background: var(--dark-gray-color);
  caret-color: var(--white);
  box-shadow: none;
  border: 0;
  color: var(--gray-color);
  outline-width: 0;
}

footer section:nth-of-type(1) form input:first-of-type {
  flex: 1;
}

footer section:nth-of-type(1) form input::placeholder {
  color: var(--gray-color);
}

footer section:nth-of-type(1) form input:nth-child(2) {
  background-color: var(--main-color);
  color: var(--white);
  padding: 1.5em 2em;
  text-transform: uppercase;
}

footer section:nth-of-type(2) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  margin-bottom: 5em;
}

footer section:nth-of-type(2) ul {
  width: 50%;
  padding: 0;
}

footer section:nth-of-type(2) ul li{
  list-style: none;
  line-height: 2em;
}

footer section:nth-of-type(2) ul li a{
  text-decoration: none;
  color: var(--gray-color);
}

footer section:nth-of-type(2) ul li h4 {
  color: var(--white);
  border-top: 1px solid var(--gray-color);
  width: 50%;
  padding-top: 1em;
}

footer section:nth-of-type(3) {
  text-align: center;
}

footer section:nth-of-type(3) > a {
  display: flex;
  width: 10em;
  justify-content: center;
  text-decoration: none;
  color: var(--white);
  text-transform: uppercase;
  font-weight: 700;
  border: solid 2px var(--white);
  padding: 0.6em;
  border-radius: 1.25em;
  margin: 0 auto;
}

footer section:nth-of-type(3) img {
  width: 1.5em;
}

footer section:nth-of-type(3) ul {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0;
  margin-top: 2em;
  margin-bottom: 2.5em;
}

footer section:nth-of-type(3) ul li {
  padding: .5em;
}

footer section:nth-of-type(3) ul li img {
  width: 1.5em;
}

footer section:nth-of-type(4) ul {
  padding: 0;
  border-top: 1px solid var(--gray-color);
}

footer section:nth-of-type(4) ul li {
  list-style: none;
  text-align: center;
  padding: 1.3em;
  font-size: .8em;
}

footer section:nth-of-type(4) ul li a {
  text-decoration: none;
  color: var(--gray-color);
}

footer section:nth-of-type(4) ul li:first-child {
  margin-top: 1em;
}

footer small {
  font-size: .7em;
  color: var(--gray-color);
  text-align: center;
}

/*********************************/
/*            PAGINA 2           */
/*********************************/

.page-two main {
  margin: 1em;
}

.page-two section:first-of-type h1 {
  font-size: 1.5em;
  text-transform: uppercase;
  margin-top: 3.5em;
  margin-bottom: 0;
}

.page-two section:first-of-type p {
  margin-top: .2em;
}

.page-two > section:first-of-type p:first-of-type {
  color: var(--gray-color);
  font-size: .8em;
}

.page-two main section:first-of-type ul:first-of-type {
  display: flex;
  justify-content: center;
  padding: 0;
  border-top: 0.5px solid var(--gray-color)
}

.page-two main section:first-of-type ul:last-of-type {
  display: none;
}

.page-two main section:first-of-type ul li {
  padding: 1em;
  list-style: none;
}

.page-two main section:first-of-type ul li h4 {
  border-bottom: 1px solid var(--gray-color);
}

.page-two main section:first-of-type ul li span {
  color: var(--gray-color)
}

.page-two main section:last-of-type img:first-of-type {
  width: 100%;
}

.page-two main section:last-of-type h3 {
  letter-spacing: 0.125em;
  font-weight: 300;
  padding-top: 1.9em;
}

.page-two main section:last-of-type ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
  list-style: none;
}

.page-two main section:last-of-type li {
  padding: 1.25em;
  width: 9em;
}

.page-two main section:last-of-type li a {
  text-decoration: none;
  color: var(--black)
}

.page-two main section:last-of-type li article {
  padding-bottom: 1.5em;
}

.page-two main section:last-of-type li article p {
  font-weight: 700;
}

.page-two main section:last-of-type li article p:first-of-type {
  background-color: var(--main-color);
  text-align: center;
  color: var(--white);
  width: 3em;
  margin: auto;
  z-index: 1;
}

.page-two main section:last-of-type li article img {
  width: 100%;
  margin-bottom: 0;
}

/*********************************/
/*            MOBIEL             */
/*********************************/
@media only screen and (min-width: 80em) {
  nav ul li:first-of-type img {
    display: none;
  }

  nav ul:first-of-type li ul {
    display: block;
  }

  nav ul:first-of-type li ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0.8em;
  }

  nav > ul {
    width: fit-content;
    margin: 0.8em auto;
  }

  .page-two main {
    margin: 7em 10em;
    display: grid;
    grid-template-columns: 20% 80%;
    gap: 5em;
  }

  .page-two section:first-of-type h1 {
    margin-top: 0;
  }

  .page-two main section:first-of-type ul:first-of-type {
    display: none;
  }

  .page-two main section:first-of-type ul:last-of-type {
    padding-left: 0;
    display: block;
  }

  .page-two main section:first-of-type ul li {
    padding: 0;
  }

  .page-two main section:last-of-type li {
    margin: 2.5em;
    width: 12.5em;
}
}

@media only screen and (min-width: 45em) { 
  .page-one main > section:nth-child(2) {
    flex-direction: row;
  }

  .page-one main section:nth-of-type(4) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .page-one main section:nth-of-type(4) article {
    width: 50%;
    padding: 0.6em;
  }

  .page-one main section:nth-of-type(1) > img:first-of-type {
    display: none;
  }

  .page-one main > section:nth-of-type(1) {
    background-image: url(../images/pictures/banner_guitar_sideways.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: left;
    padding: 15em 5em;
  }

  footer section:nth-of-type(2) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
    margin-bottom: 5em;
    margin-left: 5em;
    margin-right: 5em;
  }
  
  footer section:nth-of-type(2) ul {
    width: 100%;
  }

  footer section:first-of-type section {
    display: flex;
  }

  footer section:first-of-type section p {
    flex-grow: 1;
  }

  footer section:first-of-type section form {
    margin-right: 13em;
  }
}